<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>情報活用力チェック</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .thank-you-message {
            font-size: 3em;
            font-weight: bold;
            text-align: center;
            color: #009688; /* テキストの色を指定 */
        }
    </style>
</head>
<body>
    <div class="thank-you-message">
        調査のご協力ありがとうございました！！
    </div>
</body>
</html>
