<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>情報活用力チェック</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        h1 {
            color: #007bff;
            text-align: center;
            margin-bottom: 30px;
        }

        button {
            margin-top: 20px;
        }

        p {
            color: red;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>情報活用力チェック</h1>
                <button onclick="location.href='/register'" class="btn btn-primary btn-block">新規登録</button>
                <button onclick="location.href='/login'" class="btn btn-secondary btn-block">ログイン</button>
                <p>本ツール開発チームからのお願い（2024/01/15時点）：<br>
                    画面のリロードやブラウザバックは正しく動かないので<br>絶対に行わないようお願いいたします！</p>
                <p>また、メールアドレスを入力していただくことになりますが、個人を特定するための識別情報として使用します。<br>
                    極論何でも構いませんが、他の利用者とメールアドレスが被ると正確な識別が難しくなりますので、<br>
                    大学のメールアドレスを入力していただくようお願い申し上げます。ご協力をお願いします。</p>
                
            </div>
        </div>
    </div>
</body>
</html>
